.image-saiba {
    width: 150px;
}

.mid-container-saiba {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

.mid-container-saiba > p {
    font-size: clamp(16px,1vw,100px);
}