.navbar-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 15vh;
    /* gap: 0px 7px; */
}

.navbar-header>*{
    margin: 5px;
    font-size: 1.25rem;
    font-weight: bold;
}

.home-button{
    width: 100%;
    background-color: #262B5E;
    color: #fff;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    font-size: 2rem;
}

.navbar-header:last-child {
    order: 2;
  }

@media screen and (min-width: 600px) {
    .btn-chatbot{
        margin-right: 3vw;
    }
}