.mid-container-home{
    overflow: hidden;
    max-width: 1200px;
}

.hidden-text-home {
  width: 50%;
  max-width: 600px;
  margin: 30px 0px;
  display: none;
}

@media screen and (min-width: 600px) {
  .image-home{
    align-self: flex-end;
    justify-self: flex-end;
  }

  .mid-container-home{
    height: 100%;
}
}

@media screen and (min-width: 800px) {
  .hidden-text-home {
    display: flex;
  }
}
